<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/new.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/roundSlider/1.3.2/roundslider.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
    <title>Piping simulator</title>
</head>
<body class="body">
    <div class="main">
        <div class="header">
            <div class="regulator frame">
                <div id="pressure" class="rslider"></div>
                <div id="pressure_thermostat" class="thermostat">
                    <div class="ring">
                        <div class="bottom_overlay"></div>
                    </div>
                    <div class="control">
                        <div class="temp_room"><span></span></div>
                        <div class="room">Pressure</div>
                    </div>
                </div>
            </div>
            <div class="fcv">
                <div id="fcv" class="rslider"></div>
                <div class="thermostat_2">
                    <div class="ring_2">
                        <div class="bottom_overlay_2"></div>
                    </div>
                    <div class="control_2">
                        <div class="temp_room_2"><span>%</span></div>
                        <div class="room_2">% Open</div>
                    </div>
                </div>
            </div>
            <div class="inputs">
                <div class="simulate">
                    <div class="simulate_text">Simulate</div>
                    <label class="container">
                        <input id="simulate" type="checkbox" />
                        <svg
                          class="play"
                          xmlns="http://www.w3.org/2000/svg"
                          height="1em"
                          viewBox="0 0 384 512"
                        >
                          <path
                            d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"
                          ></path>
                        </svg>
                        <svg
                          class="pause"
                          xmlns="http://www.w3.org/2000/svg"
                          height="1em"
                          viewBox="0 0 320 512"
                        >
                          <path
                            d="M48 64C21.5 64 0 85.5 0 112V400c0 26.5 21.5 48 48 48H80c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H48zm192 0c-26.5 0-48 21.5-48 48V400c0 26.5 21.5 48 48 48h32c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H240z"
                          ></path></svg
                      ></label>
                </div>
                <div class="sim_time"></div>
            </div>
        </div>
        <div class="chart">
            <canvas id="myChart"></canvas>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>                               
<script src="https://cdnjs.cloudflare.com/ajax/libs/roundSlider/1.3.2/roundslider.min.js"></script>
<script src="../static/js/index.js"></script>
<script src="../static/js/charts.js"></script>
</body>
</html>